fastapi>=0.110
uvicorn[standard]>=0.23
requests>=2.31
python-dateutil>=2.8.2
pydantic>=2.7
Jinja2>=3.1.2
pandas>=2.2.2
numpy>=2.1.2
feedparser>=6.0.10
aiofiles>=23.2.1
pytest>=8.2.0
httpx
textblob>=0.17.1
pytz>=2024.1

